body{
    background-image: url(/images/aircraft.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
}
.card-homepage{
    height: 300px;
    margin: 20px;
    background-color:whitesmoke;
    opacity: 0.8;
}
.dot {
    height: 120px;
    width: 120px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
  }

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}